@charset "UTF-8";
@font-face {
  font-family: 'Android';
  src: url(fontes/idroid.otf);
}
@font-face {
  font-family: 'Bebas Neue';
  src: url(fontes/BebasNeue-Regular.ttf);
}
:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --fonte0: arial, helvetica, sans-serif;
  --fonte1: 'Bebas Neue', cursive;
  --fonte2: 'Android', sans-serif;
}

* {
  margin: auto;
  padding: 0;
  line-height: 1.5em;
}

body {
  background-color: var(--cor1);
}

header{
  background-image: linear-gradient(#3ddc84, #1a5c37);
  text-align: center;
  max-width: 100vw;  
  min-width: 430px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
  margin: 0;
}

nav{
  text-align: left;
  background-color: var(--cor4);
  text-decoration: none;
  width: 100vw;
  min-width: 430px;   
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.295);
  position: relative;
  padding-bottom: 5px;

}
nav>a:link{
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-family: var(--fonte0);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}
nav>a:visited{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav>a:hover{
  background-color: #2fa86596;
  border-radius: 2px;
  transition: 0.5s;
}

main{
  background-color: white;
  padding: 15px;
  min-width: 400px;
  max-width: 800px;
  border-radius: 0px 0px 10px 10px;
  margin: 0 auto 10px auto;
  box-shadow: 0px 10px 29px rgb(0 0 0 / 27%);
}
.bugdroid{
  display: block;
  margin: auto;
}
.dandroids{
  display: block;
  margin: auto;
}
.irina{
  display: block;
  margin: auto;
}
div.video{
  position: relative;  
  background-color: var(--cor4);
  height: 0px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  padding-bottom: 59%;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

h1{
  padding: 15px 0px 10px 0px;
  color: white;
  font-family: var(--fonte1);
  font-size: 2.5em;
  font-weight: normal;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
.subtitulo {
  color: var(--cor0);
  font-family: var(--fonte0);
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
}
p{
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.281);
  padding-bottom: 10px;
}
.semicone:link{
  text-decoration: none;
  color: var(--cor3);
  font-weight: bolder;
}
.semicone:visited{
  color: var(--cor3);
}

.icone:link{
  text-decoration: none;
  color: var(--cor3);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.281);
  font-weight: bolder;
}
.icone:visited{
  color: var(--cor3);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.281);
}

.icone:after{
  content: "🔗";
}

h2{ 
  color: var(--cor4);
  font-family: var(--fonte2);
  margin-bottom: 10px;
  font-size: 2em;
}

h3{
  color: var(--cor4);
  background-image: linear-gradient(to right, #92d1a8, #49bf7200);
  font-family: var(--fonte2);
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
}
h4{
  color: var(--cor0);
  background-color: var(--cor3);
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}

p{
  text-indent: 20px;
/*   margin: 0px 0px 10px 10px;
 */  font-family: var(--fonte0);
  text-align: justify;
}

#extra{
  background-color: var(--cor0);
  margin: 25px 10px 10px 10px;
  border-radius: 10px;
  font-family: var(--fonte0);
  padding-bottom:25px ;
}

#extra>p{
margin-top: 10px;
padding: 7px 10px 0 10px;
}

#extra>ul{
font-weight: bold;
margin: 10px;
}

section>ul{
  list-style-type: '\2714\0020\0020';
  columns: 2;
  list-style-position: inside;
}

footer{
  background-color: var(--cor5);
  color: white;
  text-align: center;
  width: 100vw;
  min-width: 430px;
}
